.mainContainer-light {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.mainContainer-dark {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: black;
}

.dataContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 600px;
}

.greeting {
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  color: rgb(187, 46, 31);
}

.bio-light {
  text-align: center;

  margin-top: 16px;
}

.bio-dark {
  text-align: center;
  color: gray;
  margin-top: 16px;
}

.waveButton-light {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  background: rgb(239, 239, 239);
  max-width: 300px;
  margin-left: 9rem;
}

.waveButton-dark {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  background: #141414;
  color: gray;
}

.btn-clear {
  border: none;
  background: transparent;
  margin-top: 2%;
  margin-right: 95%;
}
