.mainContainer-light {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
}

.mainContainer-dark {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  background: #1c2022;
}

.dataContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 600px;
}

.greeting {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.message-container {
  margin-top: 1rem;
}

.input-light {
  border: none;
  border-radius: 3px;
  font-size: 14px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
  background: rgba(0, 0, 0, 0.02);
  height: 5rem;
  width: 15.5rem;
}

.input-dark {
  border: none;
  border-radius: 3px;
  font-size: 14px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
  background: #414141;
  height: 5rem;
  width: 15.5rem;
  color: beige;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  color: rgb(187, 46, 31);
}

.bio-light {
  text-align: center;
  margin-top: 16px;
}

.bio-dark {
  text-align: center;
  color: rgb(250, 204, 163);
  margin-top: 16px;
}

.waveButton-light {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  background: rgb(239, 239, 239);
  width: 16rem;
}

.waveButton-dark {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  background: #414141;
  color: rgb(250, 204, 163);
  width: 16rem;
}

.wave-counter-dark {
  color: rgb(250, 204, 163);
}

.btn-clear {
  border: none;
  background: transparent;
  margin-top: 2%;
  margin-right: 95%;
}
